﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="DemoWebForms.Pages.Login" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    


<form id="form1" runat="server">
	
 
   <asp:RadioButton runat="server" Text="radio1V" id="RadioButton1"  GroupName="RadioGroup"> </asp:RadioButton>
   <asp:RadioButton runat="server" Text="radio2V" id="RadioButton2" GroupName="RadioGroup" ></asp:RadioButton>
    






    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>

        <asp:HiddenField ID="HiddenField1" runat="server" Value="valueHidden" />
    
 


    <asp:DropDownList ID="myDropDown" runat="server" AppendDataBoundItems="true">
         <asp:ListItem Text=" " Value="-" />
        <asp:ListItem Text="Gizona" Value="G" />
        <asp:ListItem Text="Emakumea" Value="E" />
    </asp:DropDownList>


    <asp:CheckBoxList ID="CheckBoxList1" runat="server">
         <asp:ListItem Text="*" Value="*" />
        <asp:ListItem Text="Beltza" Value="B" />
        <asp:ListItem Text="Urdina" Value="U" />

    </asp:CheckBoxList>




    <asp:Button ID="id" Text="click"  OnClick="onClick" runat="server" />

 </form>
    
    
    <asp:Hyperlink ID="HyperLink1" runat="server" NavigateUrl="~/Default.aspx">Atrás</asp:Hyperlink>

    

     <div>
      <span id="Message" runat="server"></span>    
    </div>

</body>
</html>
