﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Site.Master" CodeBehind="LoginwithMaster.aspx.cs" Inherits="DemoWebForms.Pages.LoginwithMaster" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">

 

   <asp:RadioButton runat="server" Text="radio1V" id="RadioButton1"  GroupName="RadioGroup"> </asp:RadioButton>
   <asp:RadioButton runat="server" Text="radio2V" id="RadioButton2" GroupName="RadioGroup" ></asp:RadioButton>


   




    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>

        <asp:HiddenField ID="HiddenField1" runat="server" Value="valueHidden" />
    
 


    <asp:DropDownList ID="myDropDown" runat="server" AppendDataBoundItems="true">
         <asp:ListItem Text=" " Value="-" />
        <asp:ListItem Text="Gizona" Value="G" />
        <asp:ListItem Text="Emakumea" Value="E" />
    </asp:DropDownList>


    <asp:CheckBoxList ID="CheckBoxList1" runat="server">
         <asp:ListItem Text="*" Value="*" />
        <asp:ListItem Text="Beltza" Value="B" />
        <asp:ListItem Text="Urdina" Value="U" />

    </asp:CheckBoxList>




    <asp:Button ID="id" Text="click"  OnClick="onClick" runat="server" />

    <asp:Hyperlink ID="HyperLink1" runat="server" NavigateUrl="~/Default.aspx">Atrás</asp:Hyperlink>

</asp:Content>

